*.iml
.idea/
target/
*.zip
*.exe
.logs/
*.xlsx
bin/
obj/
.vs/
packages/
*.nupkg
test-output/

# ReSharper files
*.DotSettings.user
*.bat
*.txt
*.user
Python/JDI/core/interfaces/__pycache__/
Python/JDI/core/logger/__pycache__/
Python/JDI/core/settings/__pycache__/
Python/JDI/web/selenium/driver/__pycache__/
.*/__pycache__/.*
Python/JDI/web/selenium/elements/composite/__pycache__/
Python/JDI/web/selenium/elements/common/__pycache__/
Python/JDI/web/selenium/elements/api_interact/__pycache__/
Python/JDI/web/selenium/elements/base/__pycache__/
Python/JDI/web/selenium/settings/__pycache__/
Python/tests/__pycache__/
Python/tests/site/pageobjects/pages/__pycache__/
Python/tests/site/entities/__pycache__/
Python/tests/site/pageobjects/__pycache__/
Python/JDI/jdi_assert/testing/__pycache__/
Python/JDI/web/os_action/__pycache__/
Python/JDI/web/selenium/__pycache__/
Python/JDI/web/selenium/elements/__pycache__/
Python/JDI/web/selenium/elements/actions/__pycache__/
Python/JDI/web/selenium/elements/complex/__pycache__/
Python/JDI/web/selenium/preconditions/__pycache__/
Python/Test/jdi_uitests_webtests/__pycache__/
Python/Test/jdi_uitests_webtests/main/__pycache__/
Python/Test/jdi_uitests_webtests/main/entities/__pycache__/
Python/Test/jdi_uitests_webtests/main/enums/__pycache__/
Python/Test/jdi_uitests_webtests/main/page_objects/__pycache__/
Python/Test/jdi_uitests_webtests/main/page_objects/pages/__pycache__/
Python/Test/jdi_uitests_webtests/main/page_objects/sections/__pycache__/
Python/Test/jdi_uitests_webtests/main/utils/__pycache__/
Python/Test/jdi_uitests_webtests/test/__pycache__/
Python/Test/jdi_uitests_webtests/test/common/__pycache__/
Python/Test/jdi_uitests_webtests/test/complex/__pycache__/
Python/Test/__pycache__/
Python/Test/jdi_uitests_webtests/main/page_objects/w3c_site/__pycache__/
Python/Test/jdi_uitests_webtests/test/composite/__pycache__/
Python/JDI/core/utils/__pycache__/
Python/JDI/web/selenium/driver/utils/__pycache__/web_driver_by_utils.cpython-35.pyc
Python/Test/jdi_uitests_webtests/test/complex/table/__pycache__/
Python/JDI/web/selenium/elements/complex/table/__pycache__/