<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table id = "steps_table">
    </table>

    <textarea id="step_suggestion"></textarea>
    <button id="add_step_button">Add new step suggestion</button>


    <script src="/cucumber/static/js/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="/cucumber/static/js/stepSuggestion.js"></script>

</body>
</html>