<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Suits</title>
        <link rel="stylesheet" href="/cucumber/static/css/styles.css">
        <link rel="stylesheet" href="/cucumber/static/css/popup.css">
        <link rel="stylesheet" href="/cucumber/static/css/info.css">
        <link rel="shortcut icon" href="/cucumber/static/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />

    </head>
    <body>
        <header>
            <a href="/cucumber">Cucumber test generator</a>
        </header>

        <div class="page-contents">
            <section class="suits-section">

                <!-- Заголовок страницы -->
                <div class="section-title">
                    <h2>Suits</h2>
                </div>

                <!-- Разделительная линия -->
                <hr class="under-subtitle-hatch">

                <!-- Окно с вкладками -->
                <div class="container-tab" id="newSuitsApp">
                    <ul class="accordion-tabs">
                        <li class="tab-head-cont" v-for="suit in suits">
                            <div class="suitId">{{suit.id}}</div>
                            <div class="tab_name" onclick="getSuitInfo($(this).parent().children('div.suitId').text())">{{suit.name}}</div>
                        </li>
                        <li class="tab-head-cont" onclick="javascript:PopUpAddingSuit()">
                            <img src="/cucumber/static/images/plus-icon.png" style="height: 20px; margin: 5px 5px -5px 5px; cursor: pointer;">
                        </li>
                    </ul>
                </div>

                <div class="wrapper_content">
                    <div class="button_wrapper">
                         <a href="/cucumber/suggestion_manager" id="edit_step_button">Edit step suggestions</a>
                    </div>
                    <table class="suit-table-container">
                        <tr>
                            <td class="suit-info-container">
                                <div class="cases-table-title">
                                    <h3><div id="countCases"></div>Tests</h3>
                                </div>

                                <button onclick="javascript:PopUpTagFilter()">Filter cases</button>

                                <div class="cases-table-container">
                                    <table id="tableCases" class="cases-table tablesorter">
                                        <thead id = "cases_table_head">
                                            <tr>
                                                <th data-sorter="false"></th>
                                                <th>Description</th>
                                                <th>Priority</th>
                                                <th>Tag</th>
                                                <th>Update date</th>
                                            </tr>
                                        </thead>

                                        <tbody id = "cases_table_body">

                                        </tbody>
                                    </table>
                                </div>

                                <div style="width: 100%;">
                                    <div class="suit-buttons-container">
                                        <div class="generate-feature-button" style="color: white;" onclick="generateFile()">Generate</div>
                                        <div class="delete-cases-button" onclick="javascript:PopUpRemoveCases()"><img src="/cucumber/static/images/trash-icon.png"
                                                                            style="height: 25px; margin: -5px;"></div>
                                        <div class="add-case-button" onclick="javascript:PopUpAddCase()"><img src="/cucumber/static/images/plus-icon.png"
                                                                        style="height: 20px; margin: -5px;"></div>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </td>

                            <td class="case-editor-container">
                                <div id="suit_or_case_info">
                                    <table class="info_table">
                                        <tr id="suit_name_info">
                                            <td id="name_info">Suit name: </td>
                                            <td><input maxlength="255" id="value_of_name_info" ></td>
                                        </tr>
                                        <tr>
                                            <td id="description_info">Suit description: </td>
                                            <td><input maxlength="255" id="value_of_description_info" ></td>
                                        </tr>
                                        <tr>
                                            <td id="priority_info">Suit priority</td>
                                            <td>
                                                <div class="wrapper_updatePrioritySuit style-case-priority-selector">
                                                    <select id="value_of_priority_info">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                     </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="create_date_info">Suit create date:</td>
                                            <td><input readonly id="value_of_create_date_info" ></td>
                                        </tr>
                                        <tr id="case_update_info">
                                            <td id="update_date_info">Suit create date:</td>
                                            <td><input readonly id="value_of_update_date_info" ></td>
                                        </tr>
                                        <tr>
                                            <td id="tags_info">Suit tags:</td>
                                            <td><input maxlength="255" id="value_of_tags_info"></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="cucumber-test-editor-container" >
                                    <div id="steps_container"></div>
                                </div>

                                <div class="buttons-container">
                                    <div class="edit-suit-button" onclick="updateSuit()">Save</div>
                                    <div class="delete-suit-button" onclick="javascript:PopUpRemoveSuit()"><img
                                                src="/cucumber/static/images/trash-icon.png" style="height: 25px; margin: -5px;"></div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div style="clear: both;"></div>

                </div>
            </section>
        </div>

        <div id="addSuit">
            <div class="b-popup" id="popup_add">
                <div class="b-popup-content">
                    <div class="popup_header">
                        <div class="popup_name"></div>
                        <div class="popup_close">
                            <span onclick="PopUpHide('#popup_add')">X</span>
                        </div>
                    </div>
                    <div class="popup_container">
                        <table>
                            <tr>
                                <td>Name:<span class="mandatory_field">*</span></td>
                                <td><input id='addNameSuit' maxlength='255' placeholder='Suit name'/></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td><input id='addDescriptionSuit' maxlength='255' placeholder='Suit description'/></td>
                            </tr>
                            <tr>
                                <td>Priority:<span class="mandatory_field">*</span></td>
                                <td>
                                    <div class="wrapper_addPrioritySuit">
                                        <select id='addPrioritySuit'>
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Tags:</td>
                                <td><input id='addTagsSuit' maxlength='255' placeholder='tag1 tag2'/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="popup_buttons">
                        <div class="popup_ok" v-on:click="addSuit"></div>
                        <div class="free_space"></div>
                        <div class="popup_cancel" onclick="javascript:PopUpHide('#popup_add')"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="removeSuit">
            <div class="b-popup" id="popup_remove">
                <div class="b-popup-content">
                    <div class="popup_header">
                        <div class="popup_name"></div>
                        <div class="popup_close">
                            <span onclick="PopUpHide('#popup_remove')">X</span>
                        </div>
                    </div>
                    <div class="popup_container">
                        <p>Do you want to delete this suit?</p>
                    </div>
                    <div class="popup_buttons">
                        <div class="popup_ok" v-on:click="removeSuit"></div>
                        <div class="free_space"></div>
                        <div class="popup_cancel" onclick="javascript:PopUpHide('#popup_remove')"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addCase">
            <div class="b-popup" id="popup_add_case">
                <div class="b-popup-content">
                    <div class="popup_header">
                        <div class="popup_name"></div>
                        <div class="popup_close">
                            <span onclick="PopUpHide('#popup_add_case')">X</span>
                        </div>
                    </div>
                    <div class="popup_container">
                        <table>
                            <tr>
                                <td>Description:<span class="mandatory_field">*</span></td>
                                <td><input id='addDescriptionCase' maxlength='255' placeholder='Case description'/></td>
                            </tr>
                            <tr>
                                <td>Priority:<span class="mandatory_field">*</span></td>
                                <td>
                                    <select id='addPriorityCase'>
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Tags:</td>
                                <td><input id='addTagsCase' maxlength='255' placeholder='tag1 tag2'/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="popup_buttons">
                        <div class="popup_ok" v-on:click="addCase"></div>
                        <div class="free_space"></div>
                        <div class="popup_cancel" onclick="javascript:PopUpHide('#popup_add_case')"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tagFilter">
            <div class="b-popup" id="popup_tag_filter">
                <div class="b-popup-content">
                    <div class="popup_header">
                        <div class="popup_name"></div>
                        <div class="popup_close">
                            <span onclick="PopUpHide('#popup_tag_filter')">X</span>
                        </div>
                    </div>
                    <div class="popup_container">
                        <div style="height:120px; overflow-y:scroll">
                            <ul id = "tags_list" class="unmarkedList"></ul>
                        </div>
                    </div>

                    <div class="popup_buttons">
                        <div class="popup_ok" onclick="javascript:filterCases()"></div>
                        <div class="free_space"></div>
                        <div class="popup_cancel" onclick="javascript:PopUpHide('#popup_tag_filter')"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="removeCases">
            <div class="b-popup" id="popup_remove_cases">
                <div class="b-popup-content">
                    <div class="popup_header">
                        <div class="popup_name"></div>
                        <div class="popup_close">
                            <span onclick="PopUpHide('#popup_remove_cases')">X</span>
                        </div>
                    </div>
                    <div class="popup_container">
                        <p>Do you want to delete these cases?</p>
                    </div>
                    <div class="popup_buttons">
                        <div class="popup_ok" v-on:click="removeCases"></div>
                        <div class="free_space"></div>
                        <div class="popup_cancel" onclick="javascript:PopUpHide('#popup_remove_cases')"></div>
                    </div>
                    <div class="popup_exception"></div>
                </div>
            </div>
        </div>

        <div id="wrapper_info_block_success" class="hidden_info_block">
            <div id="picture_info_block_success">
                <div class="info">
                    <div class="icon icon_success">
                        <span class="icon_success_line icon_success_line_tip"></span>
                        <span class="icon_success_line icon_success_line_long"></span>
                        <div class="icon_success_ring"></div>
                        <div class="icon_success_hide_corners"></div>
                    </div>
                </div>
            </div>
            <div id="element_info_block_success">
                Success updating!
            </div>
        </div>

        <div id="wrapper_info_block_error" class="hidden_info_block">
            <div id="picture_info_block_error">
                <div class="info">
                    <div class="icon icon_error">
                        <div class="icon_error_ring">
                            <span class="icon_error_line icon_error_line_left"></span>
                            <span class="icon_error_line icon_error_line_right"></span>
                        </div>
                        <div class="icon_error_hide_ring"></div>
                    </div>
                </div>
            </div>
            <div id="element_info_block_error">
                Fail updating!<br/>Try again later!
            </div>
        </div>

        <script src="/cucumber/static/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="/cucumber/static/js/vendor/jquery-ui.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/vendor/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/vendor/jquery.tablesorter.widgets.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/vendor/FileSaver.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>

        <script type="text/javascript" src="/cucumber/static/js/suit/suitMain.js"></script>

        <script type="text/javascript" src="/cucumber/static/js/suit/getSuits.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/suit/addSuit.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/suit/updateSuit.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/suit/removeSuit.js"></script>

        <script type="text/javascript" src="/cucumber/static/js/case/addCase.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/case/removeCases.js"></script>

        <script type="text/javascript" src="/cucumber/static/js/popup.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/buttonsExecuting.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/info.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/step/stepsEditing.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/autocomplete.js"></script>
        <script type="text/javascript" src="/cucumber/static/js/case/filterCases.js"></script>
    </body>
</html>