<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suits</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
</head>
<body>
    <header>
        <a href="suits.html">Cucumber test generator</a>
    </header>

    <div class="page-contents"  id="newSuitsApp">
        <section class="suits-section">

            <!-- Заголовок страницы -->
            <div class = "section-title">
                <h2>Suits</h2>
            </div>

            <!-- Разделительная линия -->
            <hr class="under-subtitle-hatch">

            <!-- Окно с вкладками -->
            <div class="container-tab">

                <ul class="accordion-tabs">

                    <li class="tab-head-cont" v-for="suit in suits">
                        <a href="#">Вкладка</a>
                        <section>

                            <table class="suit-table-container">
                                <tr>
                                    <td class="suit-info-container">
                                        <table class="suit-info-table">
                                            <tr>
                                                <td><span>Name: </span></td>
                                                <td>{{suit.name}}</td>
                                            </tr>

                                            <tr>
                                                <td><span>Description: </span></td>
                                                <td>{{suit.description}}</td>
                                            </tr>

                                            <tr>
                                                <td><span>Date of creation: </span></td>
                                                <td>Feb 02, 2013</td>
                                            </tr>

                                        </table>

                                        <div style="width: 100%;">
                                            <div class="suit-buttons-container">
                                                <a class="edit-suit-button">Edit</a>
                                                <a class="delete-suit-button"><img src="/static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                                            </div>
                                        </div>
                                        <div style="clear: both;"></div>


                                        <div class="cases-table-title">
                                            <h3>{{getCasesAmount(suit)}} Tests</h3>
                                        </div>

                                        <div class="cases-table-container">
                                            <table class="cases-table">
                                                <tr v-for="caze in suit.cases">
                                                    <td>Case '{{caze.name}}' description</td>
                                                    <td><input type="checkbox"/></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div style="width: 100%;">
                                            <div class="suit-buttons-container">
                                                <a class="generate-feature-button" style="color: white;">Generate</a>
                                                <a class="delete-cases-button"><img src="/static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                                                <a class="add-case-button"><img src="/static/images/plus-icon.png" style="height: 20px; margin: -5px;"></a>
                                            </div>
                                        </div>
                                        <div style="clear: both;"></div>


                                    </td>

                                    <td class="case-editor-container" style="border: 3px dashed #00a250;">

                                        <div>

                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <div style="clear: both;"></div>

                        </section>
                    </li>

                    <li class="tab-head-cont" onclick="javascript:PopUpAddingSuit()">
                        <img src="/static/images/plus-icon.png" style="height: 20px; margin: -5px;">
                    </li>
                </ul>

            </div>

        </section>

    </div>

    <div id="addSuit">
        <div class="b-popup" id="popup_add">
            <div class="b-popup-content">
                <div class="popup_header">
                    <div class="popup_name"></div>
                    <a href="javascript:PopUpHide()"><div class="popup_close">X</div></a>
                </div>
                <div class="popup_container">

                </div>
                <div class="popup_buttons">
                    <h1>{{name}}</h1>
                    <div class="popup_ok" v-on:click="addSuit"></div>
                    <div class="free_space"></div>
                    <div class="popup_cancel" onclick='javascript:PopUpHide()'></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
            $(document).ready(function () {
                $('.accordion-tabs').children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
                $('.accordion-tabs').on('click', 'li > a', function(event) {
                    if (!$(this).hasClass('is-active')) {
                        event.preventDefault();
                        $('.accordion-tabs .is-open').removeClass('is-open').hide();
                        $(this).next().toggleClass('is-open').toggle();
                        $('.accordion-tabs').find('.is-active').removeClass('is-active');
                        $(this).addClass('is-active');
                    } else {
                        event.preventDefault();
                    }
                });
            });
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="/static/js/newSuits.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/static/js/addSuit.js"></script>
    <script type="text/javascript" src="/static/js/popup.js"></script>
</body>
</html>