<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suits</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
</head>
<body>
    <header>
        <a href="suits.html">Cucumber test generator</a>
    </header>

    <div class="page-contents">
        <section class="suits-section">
            <div class = "section-title">
                <h2>Suits</h2>
            </div>

            <hr class="under-subtitle-hatch">

            <!--Начало блока-->

            <div class="tabs">
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1" title="Вкладка 1">Suit 1</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2" title="Вкладка 2">Suit 2</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3" title="Вкладка 3">Suit 3</label>

                <input id="tab4" type="radio" name="tabs">
                <label for="tab4" title="Вкладка 4">Suit 4</label>

                <input id="addSuitTab" type="radio" name="tabs">
                <label id="addSuitLabel" for="addSuitTab" title="Вкладка 5"><img src="../static/images/plus-icon.png" style="height: 20px; margin: -5px; margin-right: -15px;"></label>

                <section id="content-tab1">
                    <div class="suit-info-container">
                        <table class="suit-info-table">
                            <tr>
                                <td><span>Name: </span></td>
                                <td>Suit 1</td>
                            </tr>
                            <tr>
                                <td><span>Description: </span></td>
                                <td>Here should be the description of this suit.</td>
                            </tr>
                        </table>


                        <div class="cases-table-title">
                            <h3>Cases description</h3>
                        </div>

                        <div class="cases-table-container">
                            <table class="cases-table">
                                <tr>
                                    <td>Case 1 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                    <!--<td></td>-->
                                </tr>
                                <tr>
                                    <td>Case 2 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 3 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 4 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 5 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 6 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 7 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 8 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 9 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 10 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 11 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 12 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 13 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 14 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 15 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 16 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 17 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 18 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"/></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div class="generate-button-container">
                            <div style=" margin: auto; width: 50%; min-width: 250px;"><a class="generate-feature-button">Generate</a> <a class="delete-cases-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a> </div>
                        </div>
                    </div>
                    
                    <div class="suit-buttons-container">
                        <a class="edit-suit-button">Edit</a>
                        <a class="delete-suit-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                    </div>

                    <div style="clear: both;"></div>
                </section>

                <section id="content-tab2">
                    <div class="suit-info-container">
                        <table class="suit-info-table">
                            <tr>
                                <td><span>Name: </span></td>
                                <td>Suit 2</td>
                            </tr>
                            <tr>
                                <td><span>Description: </span></td>
                                <td>Here should be the description of this suit.</td>
                            </tr>
                        </table>


                        <div class="cases-table-title">
                            <h3>Cases description</h3>
                        </div>

                        <div class="cases-table-container">
                            <table class="cases-table">
                                <tr>
                                    <td>Case 1 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                    <!--<td></td>-->
                                </tr>
                                <tr>
                                    <td>Case 2 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 3 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 4 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 5 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 6 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 7 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 8 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 9 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"/></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div class="generate-button-container">
                            <div style=" margin: auto; width: 50%; min-width: 250px;"><a class="generate-feature-button">Generate</a> <a class="delete-cases-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a> </div>
                        </div>
                    </div>

                    <div class="suit-buttons-container">
                        <a class="edit-suit-button">Edit</a>
                        <a class="delete-suit-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                    </div>

                    <div style="clear: both;"></div>
                </section>

                <section id="content-tab3">
                    <div class="suit-info-container">
                        <table class="suit-info-table">
                            <tr>
                                <td><span>Name: </span></td>
                                <td>Suit 3</td>
                            </tr>
                            <tr>
                                <td><span>Description: </span></td>
                                <td>Here should be the description of this suit.</td>
                            </tr>
                        </table>


                        <div class="cases-table-title">
                            <h3>Cases description</h3>
                        </div>

                        <div class="cases-table-container">
                            <table class="cases-table">
                                <tr>
                                    <td>Case 1 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                    <!--<td></td>-->
                                </tr>
                                <tr>
                                    <td>Case 2 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 3 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 4 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 5 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 6 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 7 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 8 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 9 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 10 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 11 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 12 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 13 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 14 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 15 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 16 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 17 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 18 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"/></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div class="generate-button-container">
                            <div style=" margin: auto; width: 50%; min-width: 250px;"><a class="generate-feature-button">Generate</a> <a class="delete-cases-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a> </div>
                        </div>
                    </div>

                    <div class="suit-buttons-container">
                        <a class="edit-suit-button">Edit</a>
                        <a class="delete-suit-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                    </div>

                    <div style="clear: both;"></div>
                </section>

                <section id="content-tab4">
                    <div class="suit-info-container">
                        <table class="suit-info-table">
                            <tr>
                                <td><span>Name: </span></td>
                                <td>Suit 4</td>
                            </tr>
                            <tr>
                                <td><span>Description: </span></td>
                                <td>Here should be the description of this suit.</td>
                            </tr>
                        </table>


                        <div class="cases-table-title">
                            <h3>Cases description</h3>
                        </div>

                        <div class="cases-table-container">
                            <table class="cases-table">
                                <tr>
                                    <td>Case 1 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                    <!--<td></td>-->
                                </tr>
                                <tr>
                                    <td>Case 2 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 3 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 4 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 5 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 6 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 7 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 8 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 9 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 10 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 11 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 12 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 13 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 14 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 15 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 16 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 17 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Case 18 description</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"/></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div class="generate-button-container">
                            <div style=" margin: auto; width: 50%; min-width: 250px;"><a class="generate-feature-button">Generate</a> <a class="delete-cases-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a> </div>
                        </div>
                    </div>

                    <div class="suit-buttons-container">
                        <a class="edit-suit-button">Edit</a>
                        <a class="delete-suit-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                    </div>

                    <div style="clear: both;"></div>
                </section>

                <section id="content-addSuitTab">
                    <div class="add-suit-container">
                        <h2>

                        </h2>

                        <form method="post">
                            <table class="add-suit-table">
                                <tr>
                                    <td class="key-column"><span>Name: </span></td>
                                    <td class="value-column"><input type="text" class="name-text-box" placeholder="Enter Suit name here"></td>
                                </tr>
                                <tr>
                                    <td class="key-column"><span>Description: </span></td>
                                    <td class="value-column"><textarea class="description-text-box" placeholder="Enter description here"></textarea></td>
                                </tr>
                                <tr class="save-suit-button-row">
                                    <td colspan="2"><a class="save-suit-button">Save</a></td>
                                </tr>
                            </table>

                            <!--<button type="submit" class="save-suit-button">Save</button>-->
                        </form>
                    </div>
                </section>
            </div>
            <!--Конец блока-->

        </section>
    </div>

    <!--<footer>-->
    <!--</footer>-->

    <script src="changeTab.js"></script>
</body>
</html>