<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JDI.UICommons" version="1.0.60" targetFramework="net452" />
  <package id="JDI.UICore" version="1.0.60" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="NUnit" version="3.8.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.7.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.31" targetFramework="net452" />
  <package id="Selenium.Support" version="3.5.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.2" targetFramework="net452" />
</packages>