<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suits</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
</head>
<body>
    <header>
        <a href="suits.html">Cucumber test generator</a>
    </header>

    <div id="suitsApp" class="page-contents">
        <section class="suits-section">
            <div class = "section-title">
                <h2>Suits</h2>
            </div>

            <hr class="under-subtitle-hatch">

            <div class="tabs" v-for="suit in suits">
                <input v-bind:id="addTabPrefix(suit.id)" type="radio" name="tabs" v-if="suit.id==1" checked>
                <input v-bind:id="addTabPrefix(suit.id)" type="radio" name="tabs" v-else>
                <label v-bind:for="addTabPrefix(suit.id)" v-bind:title="addTabPrefix(suit.id)">Suit {{suit.id}}</label>

                <section v-bind:id="addContentTabPrefix(suit.id)">
                    <div class="suit-info-container">
                        <table class="suit-info-table">
                            <tr>
                                <td><span>Name: </span></td>
                                <td>Suit {{suit.id}}</td>
                            </tr>
                            <tr>
                                <td><span>Description: </span></td>
                                <td>Here should be the description of this suit.</td>
                            </tr>
                        </table>


                        <div class="cases-table-title">
                            <h3>Cases description</h3>
                        </div>

                        <div class="cases-table-container">
                            <table class="cases-table">
                                <tr v-for="caze in cases"> <!-- <tr v-for="caze in suit.cases"> -->
                                    <td>Case 1</td>
                                    <td><input type="checkbox"/></td>
                                    <td><a class="edit-case-button">Edit</a></td>
                                </tr>
                            </table>
                        </div>

                        <div class="generate-button-container">
                            <div style=" margin: auto; width: 50%; min-width: 250px;"><a class="generate-feature-button">Generate</a> <a class="delete-cases-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a> </div>
                        </div>
                    </div>
                    
                    <div class="suit-buttons-container">
                        <a class="edit-suit-button">Edit</a>
                        <a class="delete-suit-button"><img src="../static/images/trash-icon.png" style="height: 25px; margin: -5px;"></a>
                    </div>

                    <div style="clear: both;"></div>
                </section>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="../static/js/axios.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/suits.js"></script>
</body>
</html>